<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>

	<h1>Загрузить датасет</h1>
    <form method=post enctype=multipart/form-data>
      <p><input type="file" multiple="" name=file></p>
      <p>
          <label for="classifications">Классификации (через запятую)</label>
          <input type="text" name="classifications">
      </p>
      <p><input type=submit value="Запустить в работу"></p>
    </form>

</body>
</html>